*,
*::before,
*::after {
	box-sizing: border-box;
	line-height: 1.5;
}
body {
	font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
	margin: 0;
	min-height: 200vh;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
	color: white;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
}
.nav-bar-logo {
	display: block;
	width: 100px;
	object-fit: contain;
}
.menu-btn {
	color: white;
	background-color: transparent;
	border: none;
	padding: 0 5px;
	font-size: 24px;
}
.primary-nav-bar {
	display: none;
	background-color: #1a1a1a;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 20px 0;
}
.primary-nav-bar.active {
	display: block;
}
.primary-nav-bar ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.primary-nav-bar a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}
.primary-nav-bar a:hover,
.primary-nav-bar a:focus {
	outline: none;
	background-color: #575757;
}
.main-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.main-menu-item a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-menu-item a span:nth-child(2) {
	padding: 0 10px;
}
.sub-menu {
	display: none;
	background-color: #1a1a1a;
	width: 100%;
}
.sub-menu li {
	text-indent: 10px;
}
.sub-menu.active {
	display: block;
}
.sub-menu strong {
	display: block;
	padding: 10px 20px;
	border-bottom: 1px solid #575757;
}
.sub-menu a:hover {
	background-color: #575757;
}
.nav-bar-btn {
	background-color: white;
	font-weight: bold;
	border: none;
	padding: 12px 20px;
	border-radius: 8px;
	cursor: pointer;
	display: none;
}
.nav-bar-btn:hover {
	background-color: gold;
}
main {
	flex: 1;
}
footer {
	background-color: #1a1a1a;
	color: white;
	padding: 30px 20px 0 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
footer h3,
footer h4,
footer p,
footer ul {
	margin: 0;
}
footer ul {
	list-style: none;
	padding-left: 0;
	margin: 5px 0;
}
footer a {
	color: inherit;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
	color: gold;
}
.footer-company-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.footer-company-about a {
	display: inline-block;
	max-width: 200px;
}
.footer-company-about img {
	width: 100%;
	object-fit: contain;
}
.footer-links {
	column-width: 120px;
}
.footer-links div {
	break-inside: avoid;
}
.footer-links > div:not(:last-child) {
	margin-bottom: 20px;
}
.footer-contact address {
	margin: 5px 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.footer-contact address img {
	display: inline-block;
	width: 16px;
	margin-right: 10px;
}
.footer-social-media {
	display: flex;
	gap: 10px;
	padding-top: 20px;
}
.footer-social-media a {
	line-height: 0;
	padding: 3px;
}
.footer-social-media svg {
	display: inline-block;
	width: 30px;
	fill: white;
}
.footer-social-media svg:hover {
	fill: gold;
}
.footer-copy-right {
	background-color: black;
	padding: 20px 10px;
	margin: 0 -20px;
	text-align: center;
}
@media screen and (min-width: 901px) {
	header {
		padding: 20px 50px;
	}
	.primary-nav-bar {
		position: static;
		display: block;
		width: auto;
		padding: 0;
	}
	.main-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.sub-menu {
		display: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: min(calc(100vw - 300px), 1000px);
		padding: 20px !important;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.sub-menu li {
		text-indent: 0;
		break-inside: avoid;
	}
	.sub-menu-1 {
		column-count: 1;
	}
	.sub-menu-2 {
		column-gap: 50px;
		column-count: 3;
	}
	.main-menu-item:hover .sub-menu {
		display: block;
	}
	.menu-btn,
	.main-menu-item a span:nth-child(2) {
		display: none;
	}
	.nav-bar-btn {
		display: block;
	}
	footer {
		display: grid;
		grid-template-columns: 2fr 1fr auto;
		padding: 30px 50px 0 50px;
	}
	.footer-company-about img {
		order: 1;
	}
	.footer-copy-right {
		margin: 0 -50px;
		grid-column: 1 / -1;
	}
}
