*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
	margin: 0;
	min-height: 200vh;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
	color: white;
	padding: 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
}
main {
	flex: 1;
}
footer {
	background-color: #1a1a1a;
	color: white;
	text-align: center;
	padding: 10px 0;
}
.nav-bar-logo {
	width: 100px;
	object-fit: contain;
	object-position: left;
}
.menu-btn {
	color: white;
	background-color: transparent;
	border: none;
	padding: 0 5px;
	font-size: 24px;
}
.primary-nav-bar {
	display: none;
	background-color: #1a1a1a;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 20px 0;
}
.primary-nav-bar.active {
	display: block;
}
.primary-nav-bar ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.primary-nav-bar a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}
.primary-nav-bar a:hover,
.primary-nav-bar a:focus {
	outline: none;
	background-color: #575757;
}
.main-menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.main-menu-item a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-menu-item a span:nth-child(2) {
	padding: 0 10px;
}
.sub-menu {
	display: none;
	background-color: #1a1a1a;
	width: 100%;
}
.sub-menu li {
	text-indent: 10px;
}
.sub-menu.active {
	display: block;
}
.sub-menu strong {
	display: block;
	padding: 10px 20px;
	border-bottom: 1px solid #575757;
}
.sub-menu a:hover {
	background-color: #575757;
}
.nav-bar-btn {
	background-color: gold;
	font-weight: bold;
	border: none;
	padding: 12px 20px;
	border-radius: 8px;
	cursor: pointer;
	display: none;
}
.nav-bar-btn:hover {
	background-color: white;
}
@media screen and (min-width: 901px) {
	.primary-nav-bar {
		position: static;
		display: block;
		width: auto;
		padding: 0;
	}
	.main-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.sub-menu {
		display: none;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: min(calc(100vw - 300px), 1000px);
		padding: 20px !important;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.sub-menu li {
		text-indent: 0;
		break-inside: avoid;
	}
	.sub-menu-1 {
		column-count: 1;
	}
	.sub-menu-2 {
		column-gap: 50px;
		column-count: 3;
	}
	.main-menu-item:hover .sub-menu {
		display: block;
	}
	.menu-btn,
	.main-menu-item a span:nth-child(2) {
		display: none;
	}
	.nav-bar-btn {
		display: block;
	}
}
